In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# To call the "say_hello()" function, type "say_hello()" in a new cell and run the cell.

# Call the function
say_hello()

Hello!

In [3]:
# Now we'll add a parameter in the the parentheses of a new function, "say_something()". A parameter is a value that 
# we send to the function.

# Define the function "say_something" so it prints whatever is passed as the variable when called.

def say_something(something):
    print(something)

In [4]:
say_something("Hello World")

Hello World

In [5]:
stephen_says = "Hi, my name is Stephen. I'm learning Python."
say_something(stephen_says)

Hi, my name is Stephen. I'm learning Python.

In [6]:
# Writing Functions for the School District Data

# Define a function that calculates the percentage of students that passed both
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / student_count * 100

# The "return" statement has a unique purpose. It causes the function to end and literally "returns" what is in 
# front of the statement back to the caller, which is the function.

In [7]:
passing_math_count = 29370
total_student_count = 39170

In [8]:
passing_math_percent(passing_math_count, total_student_count)

# Important: IF you do NOT add the number of parameters that are assigned to the function
# when calling the function, you'll get a "TypeError:"
# this means that you need to add one or more of the parameters when calling the function.

74.9808526933878

In [9]:
# The Pandas map() Function
# The map() function is used for substituting each value in a Series with another value, where
# the new value is generated from a function, a dictionary, or a Series.

# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [10]:
# Import Panda
import pandas as pd
# Convert grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
# Using the map() function we are doing to change B to A, C to B, and D to C.
# to change each string value in this Series to another value using the FOLLOWING FORMAT:

# map("current_value_1": "new_value_1", "current_value_2": "new_value_2", "current_value_3": "new_value_3")

In [12]:
# Change the grades by one letter grade.
my_grades.map({'B':'A', 'C':'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
# The Python format() function

# The Python format() function is used to format a value to a specific format, such as one or two decimal places,
# or adding a thousands separator. This function follows this syntax: "{value:format specification}".format(value)
# The "value" within the curly braces represents the value that we want to format. Usually, the value in the 
# format(value) is a variable. After the colon, the 'format specification' will designate how the value should be formatted.

# Example:

# Using the format() function
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [16]:
# Chaining the map() and format() Functions

# We also apply the format() function to a Series or column in a DataFrame by chaining
# the map() and format() functions. First, let's convert the numerical grades array to a 
# Series with the following code:

# Convert the numerical grades to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [19]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [20]:
# One benefit of using the format() function is that we can add other format specifications
# like a U.S. dollar sign or other character. For example "${:.2f}".format 

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$" sign.

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

NameError: name 'district_summary_df' is not defined